.search {
  margin: 0;
  padding: 70px 70px 47px;
  height: 217px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  box-sizing: border-box;
}

.search__form {
  margin: 0 0 32px;
  padding: 0 0 13px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(232, 232, 232, 1);
}

.search__field {
  margin: 0;
  width: calc(100% - 70px);
  font-size: 28px;
  font-weight: 500;
  line-height: 34px;
  color: #A0A0A0;
  border: 0;
  outline: 0;
}

.search__button {
  margin: 0;
  padding: 8px 10px;
  width: 58px;
  height: 34px;
  background-color: rgba(52, 86, 243, 1);
  border-radius: 34px;
  border: 0;
  font-size: 11px;
  font-weight: 500;
  align-items: center;
  color: #fff;
  box-sizing: border-box;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
}

.search__button:hover {
  background-color: rgba(52, 86, 243, 0.8);
}

@media screen and (max-width: 768px) {
  
  .search {
    padding: 80px 30px 60px;
    align-items: flex-end;
  }

  .search__form {
    margin-bottom: 30px;
  }

}

@media screen and (max-width: 430px) {
  
  .search {
    padding: 90px 14px 50px;
    align-items: center;
  }

  .search__form {
    margin: 0 0 41px;
    padding: 0 0 9px;
  }

  .search__field {
    font-size: 18px;
    line-height: 22px;
  }

}